<div *ngIf="!auth_token">
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-md-12 text-center">
                <app-not-authorize></app-not-authorize>
            </div>
        </div>
    </div>
</div>

<h2 *ngIf="auth_token" class="text-center text-success m-4"><i class="fa-solid fa-user-group"> User List ({{data.length}})</i></h2>
<div class="container mt-5">
    <table class="table table-bordered">
        <thead class="table-success">
            <tr  class="text-center">
                <th scope="col">USERNAME</th>
                <th scope="col">EMAIL</th>
                <th scope="col">ROLES</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let d of data" class="text-center" (click)="userDetails(d.id)">
                <td [appHighlight]="'lightgreen'">{{d.username}}</td>
                <td>{{d.email}}</td>
                <td>
                    <span *ngFor="let role of d.roles" class="badge bg-success me-1">
                        {{user_role.get(role.name)}}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
